.aboutMe {
  background-color: #f4f5f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 40%;
    object-fit: cover;
    height: 150px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .introContent {
    background-color: #f4f5f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0px 0px;
    padding-right: 10%;
    .introtext {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #d8bab9;

      width: 50%;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      padding: 2% 0px 2%;
      h2 {
        color: rgb(65, 59, 59);
        padding: 2% 0px 3%;
        font-family: "poppins", sans-serif;
      }
      p {
        font-family: "poppins", sans-serif;
        color: rgb(65, 59, 59);
        width: 80%;
        line-height: 22px;
        text-align: start;
        padding-bottom: 50px;
        font-size: 17px;
      }
      .line {
        height: 2px;
        color: rgb(65, 59, 59);
        width: 80%;
      }
    }
  }

  .text {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3% 6%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #d8bab9;
    width: 80%;
    margin-bottom: 100px;
    p {
      text-align: start;
      font-family: "poppins", sans-serif;
      color: rgb(65, 59, 59);
      padding: 2% 0px;
      font-size: 17px;
      line-height: 25px;
    }
  }
}
